body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;

  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

.buttonContainer {
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-around;
}

#selectBtn {
  width: 100%;
}

#start,
#stop {
  width: 49%;
}

video {
  width: 100vh;
  margin-left: 50%;
  transform: translate(-50%);
  margin-bottom: 1rem;
}

.topbar {
  padding: 0;
  width: 100%;
  height: 30px;
  background-color: #2d3436;
  -webkit-app-region: drag;
  z-index: 999;
}
p {
  color: white;
}

.controlContainer {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  color: white;
  margin-top: -37px;
  z-index: 999;
}

.option {
  -webkit-app-region: no-drag;
  transition-duration: 250ms;

  margin-right: 1rem;
}

.optionClose:hover {
  color: #141619;
}
.optionMin:hover {
  color: #141619;
}

#footerText {
  color: black;
}

#footerText img {
  width: 1.5rem;
}
